:root{
	--purple: #211670;
  	--orange: #f59c3f;
}

*,*:before, *:after{
    box-sizing:border-box;
}

html, body{
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
}

.main-container{
    padding: 0;
    margin: 0;
    display:flex;
    align-items:center;
    height:100%;
    width:100%;
    position:relative;
   
}



.new-follower{
    align-self: flex-end;
    position: relative;
    bottom:80px;
  	left: -2px;
    transform: translatex(0);
    transition: transform 1s;
    padding: 20px 40px 20px 80px;
    color:#f59c3f;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
    background: var(--purple);
    display:flex;
   	align-items:center;
    gap: 20px;
  	outline: 2px solid var(--orange);
  	outline-offset: -2px;
  	
}

.new-follower img{
    max-height: 45px;
}

.new-follower.hidden{
    
    transform: translatex(-100%);
    
}

